:root{
    --background-blue: hsl(210, 46%, 95%);
    --paragraph-blue: hsl(212, 23%, 69%);
    --bold-blue-text: hsl(217, 19%, 35%);
    --overlay-background: hsl(214, 17%, 51%);
}
body{
    background: var(--background-blue);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}
.main{
    /* Center card vertically */
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    /* Default setting for mobile */
    display: block;
    /* Set in relation to the footer-overlay */
    position: relative;
    max-width: 326px;
    border-radius: 20px;
    background: white;
}
.card__image{
    background-image: url(images/drawers.jpg);
    background-size: 332px 238px;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 199px;
    overflow: hidden;
}
.card__text{
    /* border: 1px black solid; */
    padding: 1.5em 2.8em;
    line-height:1.8em;
}
.card__title{
    font-weight: 700;
    color: var(--bold-blue-text);
}
.card__body, p:last-of-type{
    font-weight: 500;
    color: var(--paragraph-blue);
}
.footer{
    /* border: 1px black solid; */
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    place-items: center;
    padding: 1em 0;
    bottom: 0;
    position: relative;
    /* z-index: 10; */
}

.footer__avatar{
    width: 40px;
    border-radius: 50%;
}
.footer__text p{
    margin: 0;
}
p:first-child{
    font-weight: 700;
    color: var(--overlay-background);
    margin-bottom: 2px;
}
.footer-overlay{
    /* Default hidden visibility */
    visibility: hidden;
    position: absolute;
    width: 88%;
    height: 35px;
    /* z-index: 10; */
    display: flex;
    justify-content: flex-start;
    background: var(--bold-blue-text);
    color: var(--paragraph-blue);
    align-items: center;
    padding: 1.5em;
    border-radius: 0 0 20px 20px;
    bottom: 0;
}
/* JS toggle function */
.visible{
    visibility: visible;
}
.display{
    display: none;
}
.footer__title-overlay{
    letter-spacing: .4em;
    text-transform: uppercase;
}
.footer__social-icons-overlay{
    /* border: 1px red solid; */
    color:var(--background-blue);
    font-size: 22px;
    letter-spacing: 1em;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
}
.footer__icon{
    position: absolute;
    color: var(--overlay-background);
    font-size: 20px;
    border-radius: 50%;
    background: var(--background-blue);
    border: 7px var(--background-blue) solid;
    cursor: pointer;
    z-index: 2;
}
/* For desktop design */
@media (min-width: 900px){
    .card{
        display: grid;
        grid-template-columns: 290px 1fr;
        max-width: 730px;
        box-shadow: 5px 4px 15px -1px rgba(0,0,0,0.67);
    }
    .card__image{
        background-size: 362px 315px;
        background-repeat: no-repeat;
        height: 100%;
        border-radius: 20px 0 0 20px;
    }
    .card__title{
        font-size: 21px;
        line-height: 1.6em;
    }
    .footer{
        padding: 0;
    }
    .footer-overlay{
        position: absolute;
        left: 536px;
        top: 199px;;
        width: 244px;
        height: 50px;
        border-radius: 9px;
        padding: 0em;
        display: flex;
        justify-content: space-around;
        background: var(--bold-blue-text);
        color: var(--paragraph-blue);
        align-items: center;
    }
    .footer-overlay::before {
        content: "";
        width: 0;
        height: 0;
        border-top: solid 13px var(--bold-blue-text);
        border-left: solid 13px transparent;
        border-right: solid 13px transparent;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
    }
}