:root{
    --background-blue: hsl(210, 46%, 95%);
    --paragraph-blue: hsl(212, 23%, 69%);
    --overlay-background: hsl(217, 19%, 35%);
    --bold-blue-text: hsl(214, 17%, 51%);
}

body{
    margin: 0 auto;
    background: var(--background-blue);
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    /* Default setting for mobile */
    display: block;
    max-width: 326px;
    border-radius: 20px;
    background: white;
}
.card__image{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 199px;
}
.card__text{
    border: 1px black solid;
    padding: 1.5em 1.8em;
    line-height:1.8em;
}
.card__title{
    font-weight: 700;
    color: var(--bold-blue-text);
}

.card__body{
    font-weight: 500;
    color: var(--paragraph-blue);
}

.footer{
    border: 1px black solid;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}
.footer__avatar{
    width: 40px;
    border-radius: 50%;
}
p:first-child{
    font-weight: 700;
}
.footer-overlay{
    border: 1px black solid;
    display: flex;
    justify-content: space-evenly;
    background: var(--overlay-background);
    color: var(--bold-blue-text);
    text-transform: capitalize;
    padding: 1em 1.5em;
}
.footer__title-overlay{
    letter-spacing: .4em;
    text-transform: capitalize;

}